$blackColor: #3E3E3E;

$grayColor: #A5A5A5;

$whiteColor: #ffffff;

$redColor: #f25368;

$blueColor: #00a1ff;

$yellowColor: #D4AF93;

$grayColorSecond: #EFEFEF;

$standartSize: 16px;
$middleSize: 32px;
$largeSize: 48px;