@font-face {
	font-family: "regular";
	src: url("../fonts/Closer-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "semibold";
	src: url("../fonts/Closer-SemiBold.ttf");
	font-weight: normal;
	font-style: normal;
}